<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdrv.dao.MemberDao">

	<select id="selectAll" resultType="com.zdrv.domain.Member">
		SELECT
		members.id, members.name,members.age,
		members.address, members.created,
		member_types.name AS type_name
		FROM members
		JOIN member_types
		ON members.type_id = member_types.id
		ORDER BY created DESC
	</select>

	<insert id="insert" parameterType="com.zdrv.domain.Member"
		useGeneratedKeys="true">
		INSERT INTO members (name, age, address, type_id, created)
		VALUES (#{name}, #{age}, #{address}, #{typeId}, NOW())
	</insert>

</mapper>
